/* styles navigatiebalk boven*/
.list{
	border: 1px solid black;
}

.logo{
	border: 1px solid red;
}

.zoekbalk{
	border: 1px dashed black;
}

.buttons{
	border: 1px dashed red;
}

.footer{
	border: 1px solid green;
}