/* styles navigatiebalk boven*/
.wrapper{
	background-color: #FFFF;
	max-width: 960px;
	margin: 0 auto;
	padding: 20px;
}

.list{
	float: right;
	clear: both;
}

.list ul li{
	display: inline-block;
}

.logo{
	clear: both;
	text-align: center;
	margin-top: 200px;
}

.zoekbalk{
	text-align: center;
	}

.buttons{
	text-align: center;
}

.footer{
text-align: center;
}